body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 100vh;
    background-image: linear-gradient(to right, #dce5ee, #d4c8e2);
    font-family: sans-serif;
    position: relative;
}

main{
    width: 300px;
    height: max-content;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px grey;
    border: 5px solid lightgrey;
}

.output{
    background-image: linear-gradient(to bottom left, rgb(58, 58, 112), rgb(129, 80, 80));
    height: 160px;
    border-radius: 5px ;
    position: relative;
    color: white;
    margin-bottom: 5px;
    width: 100%;
    word-wrap:break-word;
    box-sizing: border-box;
    position: relative;
}

/* 10 decimal places */
.result{
    height: 100px;
    width: 100%;
    font-size: 2.5em;
    font-weight: 900;
    word-wrap: break-word;
    word-break: keep-all;
    line-height: 1em;
    padding: 5px; 
    box-sizing: border-box;
    text-align: right;
    color: rgb(208, 233, 208);
}
.error{
    height: 100px;
    width: 100%;
    font-size: 1em;
    font-weight: 900;
    word-wrap: break-word;
    word-break: keep-all;
    line-height: 1em;
    padding: 10px; 
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-style: italic;
    color: rgb(245, 119, 119) ;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.operation{
    height: 60px;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    line-height: 1.2em;
    display: flex;
    justify-content: right;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5px;
    word-wrap: break-word;
    word-break: break-all;
    letter-spacing: 1px;
}

.input{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    background: transparent;
    position: relative;
}

button{
    cursor: pointer;
    border: none;
    border-radius: 2px;
    opacity: 0.93;
}
button:hover{
    opacity: 1;
}

button:active{
    transform: scale(0.95);
    box-shadow: 0px 2px 5px hsl(266, 39%, 72%);

}

.functions{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.functions button{
    margin: 0;
    outline: none;
    border: none;
    padding: 5px 5px;
    background-color: grey;
    color: rgb(5, 5, 48);
    font-weight: bold;
    box-sizing: border-box;
    position: relative;
    font-size: 1em;
}
.func{
    color: grey ;
}
.functions button .cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sup{
    display: block !important;
}
.numbers{
    padding: 5px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.numbers button{
    padding: 5px 10px;
    box-sizing: border-box;
    background-color: #696f85;
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
}

.operators{
    padding: 5px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.operators button{
    padding: 2px;
    font-weight: bold;
    font-size: 1.2em;
}

.answer{
    background-color: lightgreen;
    color: darkblue;
}
.delete{
    background-color: darkred;
    color: white;
    padding: 5px 3px !important;
}
.clear{
    background-color: brown;
    color: darkgrey;
}
.solution{
    grid-column : span 3;
    background-color: #a3bfdb;
    padding: 8px 7px !important;
    margin-bottom: 0 !important;
}


.help{
    width: 50px;
    height: 40px;
    box-sizing: border-box;
    padding: 4px;
    position: fixed;
    top: 0;
    right: 0;
    color: rgb(255, 255, 255);
    background-color: green;
    font-family: sans-serif;
}
.help-container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(220, 229, 238, 0.6), rgba(212, 200, 226, 0.6));
    display: none;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    color: brown;
    background-color: whitesmoke;
    font-weight: 900;
    font-size: 2em;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}
.help-information{
    width: 320px;
    background-color: rgb(17, 73, 17);
    padding: 15px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    line-height: 1.5em;
    list-style-position: inside;
    list-style-type: decimal;
}
.help-information span{
    background-color: rgb(45, 134, 27);
    padding: 3px;
    border-radius: 3px;
    word-wrap: normal;
    letter-spacing: 1px;
}